.version.cpw_sl /* version checker */
{
	color: #00001B;
	background-color: #CEF020;
}

.html
{
	background-color: #21252B;
}

#page
{
	z-index: 1;
	width: 1728px;
	min-height: 1473px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #282C34;
	margin-left: auto;
	margin-right: auto;
}

#u1245-148
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 120px;
}

#pu1212-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -110px;
	margin-left: 154px;
}

#u1212-8
{
	z-index: 185;
	display: block;
	vertical-align: top;
	margin-left: 196px;
	position: relative;
}

#u1244-15
{
	z-index: 2;
	width: 1004px;
	min-height: 204px;
	background-color: transparent;
	color: #5EA4D9;
	font-size: 25px;
	margin-top: 82px;
	position: relative;
}

#u1244-3
{
	line-height: 38px;
}

#u1244-2,#u1244-8
{
	line-height: 30px;
}

#u1244-13
{
	line-height: 35px;
}

#u1244-7,#u1244-12
{
	color: #CE5C56;
}

#pu1246
{
	width: 0.01px;
	margin-top: 11px;
}

#u1246
{
	z-index: 165;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1256-4
{
	z-index: 171;
	width: 558px;
	min-height: 204px;
	background-color: transparent;
	font-size: 25px;
	line-height: 35px;
	color: #5EA4D9;
	position: relative;
	margin-right: -10000px;
	left: 446px;
}

#pu1248
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 10px;
}

#u1248
{
	z-index: 167;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1257-4
{
	z-index: 175;
	width: 558px;
	min-height: 204px;
	background-color: transparent;
	font-size: 25px;
	line-height: 35px;
	color: #5EA4D9;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 364px;
}

#pu1250
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 10px;
}

#u1250
{
	z-index: 169;
	width: 317px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1258-4
{
	z-index: 179;
	width: 558px;
	min-height: 204px;
	background-color: transparent;
	font-size: 25px;
	line-height: 35px;
	color: #5EA4D9;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u752
{
	z-index: 183;
	width: 326px;
	margin-right: -10000px;
	margin-top: -130px;
	left: 1402px;
}

#u753
{
	z-index: 184;
	width: 284px;
	height: 1473px;
	margin-right: -10000px;
	margin-top: 130px;
	left: 20px;
}

#u1329
{
	z-index: 193;
	width: 304px;
	top: 0px;
	left: 50%;
	margin-left: 548px;
}

#u1328
{
	z-index: 194;
	width: 304px;
	height: 130px;
}

#u1225-6
{
	z-index: 195;
	margin-right: -10000px;
}

#u1226
{
	z-index: 201;
	width: 243px;
	height: 31px;
	margin-right: -10000px;
}

#u1226:hover
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu1225-6,#pu1227-6
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u1227-6
{
	z-index: 202;
	margin-right: -10000px;
}

#u1228
{
	z-index: 208;
	width: 243px;
	height: 31px;
	margin-right: -10000px;
}

#u1226.MuseLinkActive,#u1228:hover
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1228.MuseLinkActive
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1728px;
	padding-top: 130px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

