#u1331
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1330
{
	background-color: #21252B;
	position: relative;
}

#u1238
{
	background-color: #282C34;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u1238:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1237-7,#u1239-6
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1240
{
	background-color: transparent;
	position: relative;
}

#u1242
{
	background-color: #282C34;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u1242:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1238.MuseLinkActive,#u1242.MuseLinkActive
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

