.version.models /* version checker */
{
	color: #000005;
	background-color: #FB0708;
}

.html
{
	background-color: #21252B;
}

#page
{
	z-index: 1;
	width: 1728px;
	min-height: 1473px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #282C34;
	margin-left: auto;
	margin-right: auto;
}

#u1297-28
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 120px;
}

#pu1304-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -110px;
	margin-left: 154px;
}

#u1304-8
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 857px;
	position: relative;
}

#u1296-4
{
	z-index: 2;
	width: 1004px;
	min-height: 185px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #5EA4D9;
	margin-top: 82px;
	position: relative;
}

#u752
{
	z-index: 34;
	width: 326px;
	margin-right: -10000px;
	margin-top: -130px;
	left: 1402px;
}

#u753
{
	z-index: 35;
	width: 284px;
	height: 1473px;
	margin-right: -10000px;
	margin-top: 130px;
	left: 20px;
}

#u1329
{
	z-index: 44;
	width: 304px;
	top: 0px;
	left: 50%;
	margin-left: 548px;
}

#u1328
{
	z-index: 45;
	width: 304px;
	height: 130px;
}

#u1225-6
{
	z-index: 46;
	margin-right: -10000px;
}

#u1226
{
	z-index: 52;
	width: 243px;
	height: 31px;
	margin-right: -10000px;
}

#u1226:hover
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu1225-6,#pu1227-6
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u1227-6
{
	z-index: 53;
	margin-right: -10000px;
}

#u1228
{
	z-index: 59;
	width: 243px;
	height: 31px;
	margin-right: -10000px;
}

#u1226.MuseLinkActive,#u1228:hover
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1228.MuseLinkActive
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1728px;
	padding-top: 130px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

