.version.readme /* version checker */
{
	color: #0000E4;
	background-color: #614FFB;
}

.html
{
	background-color: #21252B;
}

#page
{
	z-index: 1;
	width: 1728px;
	min-height: 1473px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #282C34;
	margin-left: auto;
	margin-right: auto;
}

#pu1336-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -110px;
}

#u1336-5
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
}

#about
{
	margin-left: 711px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1374
{
	z-index: 7;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 67px;
	position: relative;
}

#u1364-54
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1365-18
{
	z-index: 62;
	width: 1136px;
	min-height: 418px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#u1365-3
{
	font-size: 25px;
	line-height: 34px;
	color: #D1A056;
}

#u1365-6,#u1365-9
{
	font-size: 25px;
	line-height: 39px;
	color: #D1A056;
}

#u1365-11
{
	font-style: italic;
}

#u1365-15
{
	color: #282C34;
}

#resume
{
	margin-left: 722px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu1373
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 67px;
}

#u1373
{
	z-index: 80;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1367-46
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1363-15
{
	z-index: 81;
	width: 229px;
	min-height: 266px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1363-7
{
	font-size: 25px;
	line-height: 40px;
	color: #D1A056;
}

#u1369-22
{
	z-index: 142;
	width: 1045px;
	min-height: 266px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u1369-8
{
	font-size: 25px;
	line-height: 38px;
	color: #D1A056;
}

#u1369-11
{
	text-decoration: underline;
	font-weight: bold;
}

#u1369-13
{
	color: #CE5C56;
}

#u1369-7,#u1369-20
{
	font-size: 25px;
	line-height: 30px;
	color: #CE5C56;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1365-13,#u1369-5,#u1369-18
{
	color: #D1A056;
}

#u1386-4
{
	z-index: 288;
	width: 212px;
	min-height: 42px;
	background-color: #21252B;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
	color: #91B970;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 958px;
}

#u1386-4:hover
{
	background-color: #171B21;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 212px;
	margin: 3px -10000px 0px 0px;
}

#u1386-4:hover p
{
	color: #5D7352;
	visibility: inherit;
}

#u1380
{
	z-index: 164;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 67px;
	position: relative;
}

#u1371-34
{
	z-index: 180;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1368-15
{
	z-index: 165;
	width: 254px;
	min-height: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1372-14
{
	z-index: 214;
	width: 989px;
	min-height: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#pu1379
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 75px;
}

#u1379
{
	z-index: 228;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1378-40
{
	z-index: 229;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1377-19
{
	z-index: 269;
	width: 1136px;
	min-height: 273px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#u1363-11,#u1369-15,#u1377-3
{
	font-size: 25px;
	line-height: 35px;
	color: #D1A056;
}

#u1377-8
{
	font-size: 25px;
	line-height: 5px;
	color: #7D6645;
}

#u1377-10
{
	font-size: 25px;
	line-height: 30px;
	color: #D1A056;
}

#u1377-13
{
	font-size: 25px;
	line-height: 3px;
	color: #7D6645;
}

#u1368-9,#u1368-11,#u1368-13,#u1372-8,#u1372-10,#u1372-12,#u1377-7,#u1377-12,#u1377-17
{
	font-size: 25px;
	line-height: 30px;
	color: #7D6645;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 602px;
}

#u1398
{
	z-index: 292;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 75px;
	position: relative;
}

#u1400-26
{
	z-index: 304;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#pu1363-15,#pu1368-15,#pu1401-11
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 34px;
}

#u1401-11
{
	z-index: 293;
	width: 254px;
	min-height: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1365-2,#u1363-2,#u1369,#u1368-2,#u1372,#u1377-2,#u1401-2
{
	font-size: 50px;
	line-height: 60px;
	color: #5EA4D9;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1368-3,#u1372-2,#u1401-3
{
	font-size: 25px;
	line-height: 33px;
	color: #D1A056;
}

#u1365-5,#u1365-8,#u1365-16,#u1363-3,#u1363-5,#u1363-6,#u1363-9,#u1363-10,#u1363-13,#u1369-2,#u1369-4,#u1369-10,#u1369-14,#u1369-17,#u1368-5,#u1368-7,#u1372-4,#u1372-6,#u1377-5,#u1377-15,#u1401-5,#u1401-7,#u1401-9
{
	font-size: 25px;
	line-height: 30px;
	color: #D1A056;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1399-13
{
	z-index: 330;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u752
{
	z-index: 343;
	width: 326px;
	margin-right: -10000px;
	margin-top: -130px;
	left: 1402px;
}

#u753
{
	z-index: 344;
	width: 284px;
	height: 1473px;
	margin-right: -10000px;
	margin-top: 130px;
	left: 20px;
}

#u1354
{
	z-index: 347;
	width: 304px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 548px;
}

#u1357
{
	z-index: 369;
	width: 304px;
	height: 130px;
	background-color: #21252B;
	position: relative;
}

#pu1355-7
{
	width: 0.01px;
	padding-bottom: 31px;
	margin-left: 30px;
	margin-top: 20px;
}

#u1355-7
{
	z-index: 348;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: 578px;
}

#u1358
{
	z-index: 368;
	width: 243px;
	height: 31px;
	background-color: #282C34;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: 578px;
}

#u1358:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px 0px 0px 578px;
}

#pu1361-10
{
	width: 0.01px;
	padding-bottom: 150px;
	margin-left: 30px;
	margin-top: 30px;
}

#u1361-10
{
	z-index: 355;
	width: 243px;
	min-height: 144px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #5EA4D9;
	position: fixed;
	top: 211px;
	left: 50%;
	margin-left: 578px;
}

#u1356
{
	z-index: 365;
	width: 191px;
	height: 30px;
	background-color: #282C34;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 211px;
	left: 50%;
	margin-left: 578px;
}

#u1362
{
	z-index: 366;
	width: 191px;
	height: 30px;
	background-color: #282C34;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 270px;
	left: 50%;
	margin-left: 578px;
}

#u1359
{
	z-index: 367;
	width: 191px;
	height: 30px;
	background-color: #282C34;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 331px;
	left: 50%;
	margin-left: 578px;
}

#u1356:hover,#u1362:hover,#u1359:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 191px;
	height: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 578px;
}

#u1405
{
	z-index: 345;
	width: 326px;
	background-color: #21252B;
	position: relative;
	margin-right: -10000px;
	margin-top: 1440px;
	left: 1402px;
}

#u1406
{
	z-index: 346;
	width: 284px;
	height: 480px;
	background-color: #282C34;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 1728px;
	padding-top: 130px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1439px;
}

