.version.sxlfileloading /* version checker */
{
	color: #0000E9;
	background-color: #D5C087;
}

.html
{
	background-color: #21252B;
}

#page
{
	z-index: 1;
	width: 1728px;
	min-height: 1473px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #282C34;
	margin-left: auto;
	margin-right: auto;
}

#u853-220
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 120px;
}

#pu826-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -110px;
	margin-left: 150px;
}

#u826-8
{
	z-index: 268;
	display: block;
	vertical-align: top;
	margin-left: 45px;
	position: relative;
}

#u851-12
{
	z-index: 2;
	width: 987px;
	min-height: 204px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #5EA4D9;
	margin-left: 1px;
	margin-top: 82px;
	position: relative;
}

#u851-8
{
	color: #91B970;
}

#u845
{
	z-index: 244;
	width: 988px;
	min-height: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u854-10
{
	z-index: 234;
	width: 987px;
	min-height: 204px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #5EA4D9;
	margin-top: 17px;
	position: relative;
}

#u857
{
	z-index: 246;
	width: 439px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u863-6
{
	z-index: 248;
	width: 987px;
	min-height: 27px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #5EA4D9;
	margin-top: 19px;
	position: relative;
}

#u863-3
{
	font-style: normal;
}

#u855
{
	z-index: 245;
	width: 988px;
	min-height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u882-11
{
	z-index: 254;
	width: 987px;
	min-height: 97px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #5EA4D9;
	margin-top: 8px;
	position: relative;
}

#u863-2,#u882-2,#u882-4
{
	font-style: italic;
}

#u883
{
	z-index: 265;
	width: 988px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u752
{
	z-index: 266;
	width: 326px;
	margin-right: -10000px;
	margin-top: -130px;
	left: 1402px;
}

#u753
{
	z-index: 267;
	width: 284px;
	height: 1473px;
	margin-right: -10000px;
	margin-top: 130px;
	left: 20px;
}

#u1331
{
	z-index: 278;
	width: 304px;
	top: 0px;
	left: 50%;
	margin-left: 548px;
}

#u1330
{
	z-index: 279;
	width: 304px;
	height: 130px;
}

#u1237-7
{
	z-index: 280;
	margin-right: -10000px;
}

#u1238
{
	z-index: 287;
	width: 243px;
	height: 31px;
	margin-right: -10000px;
}

#u1238:hover
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu1237-7,#pu1239-6
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u1239-6
{
	z-index: 288;
	margin-right: -10000px;
}

#u1240
{
	z-index: 294;
	width: 30px;
	margin-right: -10000px;
}

#u1242
{
	z-index: 296;
	width: 243px;
	height: 31px;
	margin-right: -10000px;
}

#u1238.MuseLinkActive,#u1242:hover
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1242.MuseLinkActive
{
	width: 243px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u887
{
	z-index: 276;
	width: 326px;
	background-color: #21252B;
	position: relative;
	margin-right: -10000px;
	margin-top: 1412px;
	left: 1402px;
}

#u888
{
	z-index: 277;
	width: 284px;
	height: 473px;
	background-color: #282C34;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 1728px;
	padding-top: 130px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1411px;
}

